.recursive-input {
  width: fit-content;
  padding: 10px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.recursive-input.grey {
  background-color: #d7d3d3;
}

.recursive-input.white {
  background-color: #fff;
}

.recursive-input .title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

.recursive-input input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.add {
  background-color: greenyellow;
}

.delete {
  background-color: rgb(233, 21, 39);
}

#input--button {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
}
